<label for="high">High</label>
<div class="input-group">
  <input type="number" name="high" id="high" min="0" max="100" value="{{high}}" placeholder="High">
  <span>&deg;</span>
</div>
<p class="help-block">The hottest temperature you&rsquo;re willing to ride in.</p>

<label for="low">Low</label>
<div class="input-group">
  <input type="number" name="low" id="low" min="0" max="100" value="{{low}}" placeholder="Low">
  <span>&deg;</span>
</div>
<p class="help-block">The coldest temperature you&rsquo;re willing to ride in.</p>

<label for="precip">Precipitation</label>
<div class="input-group">
  <input type="number" name="precip" id="precip" min="0" max="100" value="{{precip}}" placeholder="Precip">
  <span>%</span>
</div>
<p class="help-block">The highest probability of precipitation you&rsquo;re willing to ride in.</p>

<label for="offset">Margin</label>
<input type="number" name="offset" id="offset" min="0" max="" value="{{offset}}" placeholder="Offset">
<p class="help-block">The amount of flexibility you have in your preferences.</p>

<label for="limit">Limit</label>
<input type="number" name="limit" id="limit" min="1" max="24" value="{{limit}}" placeholder="Hours offset">
<p class="help-block">The number of hours into the future you want to check the weather.</p>

<button id="submit" class="js-submit" type="submit">Submit</button>
